@import "fonts.css";

* {
  font-family: 'League Gothic Regular';
  list-style: none;
}

h1 {
  font-size: 60px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: normal;
  line-height: 50px;
}

h3 {
  font-size: 32px;
  color: #edbfff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  font-weight: normal;
}

p {
  font-size: 16px;
  color: white;
  font-weight: lighter;
}

.section-1 {
  width: 100%;
  height: 846px;
  background: url('../img/bg.jpg') no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  width: 960px;
  height: inherit;
  border: 2px solid red;
  padding-top: 65px;
  margin: 0 auto 0 auto;
}

.logo {
  color: white;
  float: left;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 48px;
  line-height: 40px;
  text-transform: uppercase;
}

.logo span:nth-child(2) {
  color: #745083;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.navigation--top {
  float: right;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.navigation--top li {
  display: inline-block;
  margin-left: 52px;
}

.navigation--top li:hover {
  border-bottom: 2px solid #edbfff;
}

.carousel-slide {
  position: absolute;
  top: 277px;
  left: 0;
  background-color: rgba(0, 0, 0, .2);
  height: 400px;
  width: 100%;
  z-index: -0;
}

.carousel-slide-inner {
  position: absolute;
  top: 277px;
  left: 0;
  height: 400px;
  width: 100%;
}

.iphones {
  height: 417px;
  width: 350px;
  position: relative;
  float: right;
}

.iphones--front {
  position: absolute;
  z-index: 3;
  top: -15px;
  right: 56px;
}

.iphones--back {
  filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  width: 130px;
  height: 268px;
  position: absolute;
  z-index: 2;
  left: 21px;
  top: 70px;
}

.iphones--play {
  position: absolute;
  z-index: 3;
  left: 160px;
  top: 134px;
}

.iphones--play:hover {
 height: 78px;
 width: 78px;
 transition: .5s;
}

.article {
  text-align: left;
  float: left;
  margin-top: 85px;
  width: 505px;
  height: 235px;
}

.about {
  background: url('../img/aboutbg.png') repeat-x;
  height: 342px;
}

.box {
  font-size: 16px;
  width: 260px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  margin-right: 62px;
}

.box:last-child {
  margin-right: 0;
}

.inner {
  height: 155px;
  overflow: hidden;
}

.inner > h3 {
  color: white;
  margin-bottom: 17px;
  margin-left: 24px;
}

.inner > p {
margin-left: 24px;
line-height: 1.5;
}

.readmore-button {
  text-align: right;
  font-size: 18px;
  margin-top: 24px;
  width: inherit;
}

.readmore-button:hover {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

article span {
  display: block;
  margin-top: 7px;
  width: 26px;
  height: 26px;
  background: url('../img/sprite.png') no-repeat;
  float: left;
}

article .chat {
background-position: -32px 0;
}

article .music {
background-position: -64px 0;
}

.updates {
  height: 486px;
  width: 100%;
  border-top: 1px solid #0d151b;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f9f9f9;
}

.brands {
  height: 118px;
  width: 100%;
  border-bottom: 1px solid #fefefe;
  border-top: 1px solid #fefefe;
  background-color: #f9f9f9;
}

.feedback {
  height: 396px;
  width: 100%;
  border-top: 1px solid #d8d8d8;
  background-color: #ececec;
}

.brands .container {
  padding: 0;
  text-align: center;
}

.brands-logos {
  vertical-align: middle;
  margin-top: 24px;
}

footer {
  width: 100%;
  height: 114px;
  background: url('../img/footerbg.png') no-repeat;
  background-size: cover;
}

footer .container {
  padding-top: 0;
}

.navigation--bottom {
  float: left;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.navigation--bottom li {
  display: inline-block;
  margin-right: 52px;
}
