* {
  font-family: 'Lucida Sans';
}

body {
  background-color: white;
}

.wrapper {
  width: 910px;
  height: 1310px;
  background-color: white;
  margin: 0 46px 0 46px;
  position: relative;
}

header {
  display: inline-block;
  width: inherit;
  height: 46px;
  background-color: white;
  padding-top: 18px;
}

#phone {
  float: left;
  margin: 0;
  margin-right: 17px;
  font-size: 18px;
  color: #5e696d;
  font-family: arial;
  line-height: 26px;
  font-weight: normal;
}

form {
  width: 495px;
  background: url('../img/color.png');
  float: left;
  font-size: 12px;
  line-height: 25px;
  border-radius: 5px;
}

form img {
vertical-align: middle;
margin-left: 8px;
}

input {
  width: 113px;
  height: 14px;
  border: none;
  font-size: 11px;
  color: #97a2a6;
  text-indent: 4px;
}

.hmm {
  width: 75px;
  height: 19px;
  border-radius: 15px;
  background-color: white;
  float: left;
  border: 1px solid #c1c8cb;
}

.hmm > img {
margin-left: 6px;
}

.authbuttons {
color: white;
font-size: 11px;
float: right;
}

.authbuttons a {
color: white;
text-decoration: none;
margin: 0 4px 0 4px;
font-size: 11px;
}

.authbuttons a:last-child {
color: #bfbfbf;
text-decoration: underline;
margin-right: 10px;
margin-left: 45px;
}

figure {
  margin: 0;
}

nav {
  width: 910px;
  height: 32px;
  background: url('../img/menubg.png') repeat-x;
  border: 1px solid #2c345a;
  border-radius: 3px;
}

nav ul {
  display: inline-block;
  margin: 0;
}

.topmenu {
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #b1bcc0;
}

.topmenu li {
  display: inline-block;
  padding: 0 16px 0 16px;
  line-height: 32px;
}

.topmenu li:hover {
  display: inline-block;
  background-color: #13486b;
  color: white;
  border-radius: 10px;
  height: 26px;
  line-height: 26px;
  padding: auto 16px auto 16px;
  margin: 3px 0 3px 0;
}

.cart {
  list-style: none;
  font-size: 11px;
}

.cart li {
  display: inline-block;
  color: #b1bcc0;
}

.cart li:nth-child(even) {
  color: #0d5a8f;
  margin-right: 14px;
}

.korzeena {
  vertical-align: middle;
}

.crazy {
  height: 133px;
  width: inherit;
  background-color: blue;
  margin: 14px 0 16px 0;
}

aside {
  float: left;
}

main {
  width: 526px;
  height: 627px;
  float: left;
  background-color: blue;
  border-radius: 3px;
}

.desc {
  width: 180px;
  height: 25px;
  border: 1px solid #8b979c;
  border-radius: 15px;
  background-color: white;
  color: #114165;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: normal;
  float: left;
  line-height: 25px;
}

.iconbg {
  width: 20px;
  height: 20px;
  background-color: #124367;
  border-radius: 100%;
  text-align: center;
  float: left;
  margin: 2px 5px 2px 3px;
}

.topic {
  width: 148px;
  height: 26px;
  border: 1px solid #8b979c;
  border-radius: 15px;
  background-color: white;
  color: #114165;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 25px;
  list-style: none;
  clear: both;
}

.o {
  height: 12px;
  width: 12px;
  border: 5px solid #114165;
  border-radius: 100%;
  float: left;
  margin: 2px 5px 2px 3px;
}

.topic + ul {
  color: #465961;
  font-size: 13px;
  line-height: 25px;
}

.topic + ul li:hover {
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}

main {
  background: linear-gradient(to top, #93a7b0, #e4e7e8);
}

main li {
  float: left;
  list-style: none;
}

li +
h3,
h4,
h5 {
  margin: 0;
  text-align: center;
}

h4 {
  font-size: 15px;
  color: #206988;
}

h5 {
  font-size: 13px;
  color: black;
}

.price {
  margin: 6px 0 15px 0;
  font-style: italic;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #114165;
}

.tirecontainer {
  width: 136px;
  height: 126px;
  border: 1px solid #b4bcbf;
  border-radius: 5px;
  background-color: white;
  margin-right: 15px;
  text-align: center;
}

.tirecontainer > img {
  margin-top: 5px;
}

#disk1,
#disk2,
#disk3,
#tire1,
#tire2,
#tire3 {
  position: relative;
  width: 7px;
  height: 7px;
  margin: 0 15px 0 35px;
  border: inset 2px #1c4360; /*не работает, почему?*/
}

label {
  display: block;
  color: #465961;
  font-size: 13px;
}

button {
  width: 80px;
  height: 24px;
  border: none;
  border-radius: 15px;
  background-color: #1f6585;
  font-size: 11px;
  line-height: 24px;
  color: white;
  text-transform: uppercase;
  box-shadow: 1px 2px 2px 1px rgba(213, 213, 213, 1);
}

.logos {
  clear: both;
  bottom: 125px;
  position: absolute;
  width: inherit;
  height: auto;
  text-align: center;
}

                    /* FOOTER */

footer {
  height: 99px;
  width: inherit;
  background-color: #213a4d;
  border: 1px solid #242c3e;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.bottom-nav {
  margin: 12px auto 16px auto;
  padding: 0;
}

.bottom-nav > li {
  display: inline-block;
  font-size: 12px;
  font-family: arial;
  color: #bec6c9;
}

.bottom-nav > li:hover {
  color: #52abcb;
}

.copyright {
  font-size: 10px;
  color: #7f4740;
  font-family: arial;
}
